/*************************************************************************/
/***************************         开磷通       *************************/
/**************************      前端开发：阎延     ************************/
/*************************************************************************/
/************************     页面列表 - 银行图标      *********************/
/*************************************************************************/

$imgW: 2.25rem;
$imgH: 1.875rem;

/*************************************************************************/

@mixin _bank_img($img_mt){
	img{
		height: $imgH;
		width: $imgW;
		margin-right: 0.5rem;
	}
}

