//@import "../base/yy_reset";
@import "../base/yy_mixin";
@import "../components/yy_list";

/*************************************************************************/
/***************************         开磷通       *************************/
/**************************      前端开发：阎延     ************************/
/*************************************************************************/
/*************************       订单、合同信息      **********************/
/*************************************************************************/

.oDetail{
	background: $white;
	margin-top: $spaceV;
	
	dl{
		@include _dl(5rem);
		padding: 0;
		margin: 0 $spaceLR;
		
		&:first-child{
			strong{
				color: $red;
				font-weight: 500;
				float: right;
			}
		}
		dt{
			color: $gray;
			
			&:nth-child(3){
				width: 3rem;
			}
		}
		dd{
			h5{
				color: $font !important;
				margin-top: 0.875rem;
			}
		}
	}
}